.torshy{
    position: absolute;
    background-color: black;
    display: flex;
    flex-wrap: wrap ;
    height: 100%;
    text-decoration: none;
    color: aliceblue;
    padding: 15px; 
    margin-bottom:15px ;

}